{% extends "base.html" %}
{% block nav_icon %}
{{ super()}}
<img src="static/images/SO_brand.svg" width="45" height="45" alt="" class="d-inline-block align-center">
{% endblock nav_icon %}
{% block content %}
<section class="container-fluid px-0">
<div class="row align-items-center content">
    <div class="col-md-3 order-2 order-md-2">
        <div class="row justify-content-center">
            <img src="static/images/social_profile_vp300px.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="col-md-9 text-center order-1 order-md-1">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-9 blurb mb-6 mb-md-0">
                <h2>VAYIANOS PERTSAS</h2>
                <p class="lead">Vayianos Pertsas holds a Dipl. Eng. Degree in Electrical and Computer Engineering from the University of Patras and a
                PhD degree in Informatics from the Athens University of Economics and Business. His research interests evolve around
                conceptual modeling and ontology population using information extraction techniques that mainly focus on leveraging
                linked data and its applications, along with NLP and machine learning techniques. </p> <p>He has worked in the development of
                the NeDiMAH Methods Ontology in the ESF-funded Network for Digital Methods in the Arts and Humanities and in its
                evolution and operationalization in the form of the Scholarly Ontology. He has authored papers appearing in IJDL, ISWC, DH,
                TPDL and co-tutored various workshops.</p>
            </div>
        </div>
    </div>
</div>
<div class="row align-items-center content">
    <div class="col-md-3 order-2 order-md-1 align-content-center">
        <div class="row justify-content-center">
            <img src="static/images/constantopoulos.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="col-md-9 text-center order-1 order-md-2">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-9 blurb mb-5 mb-md-0">
                <h2>PANOS CONSTANTOPOULOS</h2>
                <p class="lead">Panos Constantopoulos is Professor in the Department of Informatics, Director of the MSc Programme in Digital Methods
                for the Humanities, and former Dean of the School of Information Sciences and Technology, Athens University of
                Economics and Business. He is also affiliated with the Information Management Systems Institute of the “Athena”
                Research Centre, where he heads the Digital Curation Unit. He has previously been Professor and Chairman in the
                Department of Computer Science, University of Crete (1986-2003). From 1992 to 2003 he was head of the Information
                Systems Laboratory and the Centre for Cultural Informatics at the Institute of Computer Science, Foundation for
                Research and Technology - Hellas.</p>
                <p>His scientific interests include: knowledge representation and conceptual modelling, ontology engineering, semantic
                information access, process mining, knowledge management systems, decision support systems, cultural informatics,
                digital libraries, digital curation and preservation.</p>
                <p>He holds a Diploma in Electrical and Mechanical Engineering from the National Technical University of Athens (1978), a
                Master of Science in Electrical Engineering from Carnegie-Mellon University (1979) and a Doctor of Science in
                Operations Research from Massachusetts Institute of Technology (1983).
                He has been principal investigator or scientific responsible on the part of his affiliation in 40 national or
                international research and development projects, in 13 of which project coordinator. He is currently heading
                “APOLLONIS-Greek Infrastructure for Digital Arts, Humanities and Language Research and Innovation”, a three year, 4M
                Euro project jointly advancing the Greek components of CLARIN and DARIAH.
                He has published over 100 articles in scientific journals, conference proceedings or as book chapters.</p>
            </div>
        </div>
    </div>
</section>   
{% endblock content %}