{% extends "base.html" %}
{% block nav_icon %}
{{ super()}}
<img src="static/images/SO_brand.svg" width="45" height="45" alt="" class="d-inline-block align-center">
{% endblock nav_icon %}
{% block content %}
<div class="row align-items-center content">
    <div class="col-md-12 text-center order-1 order-md-1">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-9 blurb mb-6 mb-md-0">
                <h2>References:</h2>
                <p><em>Pertsas, V. & Constantopoulos, P. Int J Digit Libr (2017) 18: 173.
                        https://doi.org/10.1007/s00799-016-0169-3</em></p>
                <p><em>Pertsas V., Constantopoulos P., Androutsopoulos I. (2018) Ontology Driven Extraction of Research
                        Processes. In:
                        Vrandečić D. et al. (eds) The Semantic Web – ISWC 2018. ISWC 2018. Lecture Notes in Computer
                        Science, vol 11136.
                        Springer, Cham</em></p>
                <p><em>Pertsas V., Constantopoulos P. (2018) Ontology-Driven Information Extraction from Research
                        Publications. In: Méndez E.,
                        Crestani F., Ribeiro C., David G., Lopes J. (eds) Digital Libraries for Open Knowledge. TPDL
                        2018. Lecture Notes in
                        Computer Science, vol 11057. Springer, Cham</em></p>
                <p><em>Pertsas V. (2018) Modeling and Extracting Research Processes. Athens University of Economics and
                        Business.
                        http://hdl.handle.net/10442/hedi/43604</em></p>
                <p><em>Constantopoulos, P., Hughes, L., Dallas, C., Pertsas, V., Papachristopoulos, L., Christodoulou,
                        T. (2016).
                        Contextualized Integration of Digital Humanities Research: Using the NeMO Ontology of Digital
                        Humanities Methods. In
                        Digital Humanities 2016: Conference Abstracts. Jagiellonian University & Pedagogical
                        University, Kraków, pp. 161-163.</em></p>
            </div>
				</div>
		</div>
</div>

{% endblock content %}